/* *********************** */
/* Editor */
/* *********************** */



//body .postarea.wp-editor-expand,
body.has-template-home .postarea.wp-editor-expand {
	display: none;
}

.wp-editor-container {
	border-color: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#wp-content-media-buttons {
	padding-bottom: 6px;
}
div.mce-toolbar-grp {
	background: #fff !important;
}
div.mce-toolbar-grp > .mce-container-body {
	padding: 4px 8px;
}
.ed_button.button.button-small {
	background: $color-accent-1;
	border: none;
}

.mce-toolbar .mce-btn-group .mce-btn.mce-first {
	margin-left: 0 !important;
}
.wp-editor-tabs .wp-switch-editor {
	background: #f3f3f3;
	border: 1px solid #ccc;
	border-bottom: 0px;
	border-radius: 2px 2px 0 0;
	padding: 7px 8px;
}
.html-active .switch-tmce,
.tmce-active .switch-html{
	background: #ddd !important;
}

.html-active .switch-html,
.tmce-active .switch-tmce {
	background: #f5f5f5 !important;
}

span.wp-media-buttons-icon:before {
    color: #fff;
}

.quicktags-toolbar {
    padding: 3px;
    border-bottom: 1px solid #efefef;
    background: #f7f7f7;
    min-height: 30px;
}