// Variables

// COLORS
// name your colors here

$color-primary	  : #1B263B;
$color-secondary  : #415A77;
$color-accent-1	  : #778DA9;
$color-accent-2	  : #E0E1DD;
$color-accent-3   : #30bcff;
$color-default	  : #0D1B2A;
$color-inverse    : #FFFFFF;