/*----------------------
1. Primary Button
2. Secondary Button
3. Search Button
4. Menu Button
5. Simple Button
6. Download Button
7. Pagination Button
8. Social Buttons
9. Share Button
10. Carousel Buttons
12. Back to Top Button
13. Video Button
14. Chat Button

- Button Group
- Phone
------------------------*/

//1. Primary Button
.sl_button {
	@extend .button;
	font-size: 2rem;
	font-weight: $font-weight--medium;
	border-radius: $border-radius--pill;
	background-color: get-color(primary);
	color: get-color(inverse);
	box-shadow: $shadow--button;
	line-height: 1;
	padding: $spacing--xs $spacing--md;
	display: inline-block;
	@include transition (all .2s ease-in-out);

	@include breakpoint (small down) {
		display: block;
		padding: $spacing--xs $spacing--sm;
		width: 100%;
	}//end small down breakpoint

	&:hover {
		box-shadow: $shadow--button--hover;
		background-color: dark(get-color(primary), 10%);
		@include transition (all .2s ease-in-out);
		transform: translateY(2px);
	}//end &:hover

	//Medium Button
	&--medium {

	}//end &--medium
	
	//Small Button
	&--small {

	}//end &--small

//2. Secondary Button 
	&--secondary {
		background-color: get-color(secondary);

		&:hover {

		}//end &:hover
	}//end &--secondary

//3. Search Button
	&--search {
		display: inline-block;
		background: none;
		color: get-color(default);
		box-shadow: none;
		padding: 0;
		border: none;

		&:hover {
			background: none;
			color: get-color(default);
		}//end &:hover
	}//end &--search

//4. Menu Button
	&--menu {
		
	}//end &--menu

//5. Simple Button
	&--simple {
		background: none;
		padding: 0;
		border-radius: 0;
		color: get-color(primary);
		font-size: 1.125rem;
		box-shadow: none;

		&:after {
			display: inline-block;
			margin-left: $spacing--xs/2;
			@include fontawesome($content: '\f061');
			@include transition (all .2s ease-in-out);
		}//end &:after

		&:hover, &:focus {
			background: none;
			box-shadow: none;
			color: get-color(primary);
			transform: none;

			&:after {
				transform: translateX(4px);
				@include transition (all .2s ease-in-out);
			}//end &:after
		}//end &:hover, &:focus

		@include breakpoint (small down) {
			width: auto;
			display: inline-block;
		}//end small down breakpoint
	}//end &--simple

//6. Download Button
	&--download{
		color: get-color(default);
		@include fancy-button;
		padding-right: $spacing--xl;
		
		&:before {
			background-image: url(#{$path-img}icon/download-icon.svg);
			background-repeat: no-repeat;
			background-size: 13px 13px;
			background-position: right $spacing--sm center;
		}//end &:before

		&:hover {
			color: get-color(default);
		}
	}//end &--download

//8. Pagination Button
	&--pagination {

	}//end &--pagination

//9. Social Buttons
	&--social {
		width: 50px;
		height: 50px;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0;

		@include breakpoint (small down) {
			margin: 0 auto;
		}//end small down breakpoint

		&.sl_facebook {background-color: #3B5998;}
		&.sl_twitter {background-color: #1DA1F2;};
		&.sl_youtube {background-color: #FF0000;};
		&.sl_linkedin {background-color: #007BB5;};
	}//end .sl_button--social

//10. Share Button
	&--share {
		
	}//end .sl_button--share

//11. Carousel Buttons
	&--carousel {
		background-color: get-color(accent1);
		height: 4rem;
		width: 4rem;
		position: absolute;
		top: calc(50% - 2rem);
		z-index: 2;
		cursor: pointer;

		&:before {
			content:'';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-repeat: no-repeat;
			background-size: 18px 25px;
			background-position: center center;

			@include breakpoint (small down) {
				background-size: 11px 17px;
			}//end small down breakpoint
		}//end &:before

		&.sl_prev {
			left: -$spacing--md;
			&:before {
				background-image: url(#{$path-img}icon/carousel-left-icon.svg);
			}//end &:before	

			@include breakpoint (small down) {
				left: $spacing--sm;
			}//end small down breakpoint
		}//end &.sl_prev

		&.sl_next {
			right: -$spacing--md;
			&:before {
				background-image: url(#{$path-img}icon/carousel-right-icon.svg);
			}//end &:before	

			@include breakpoint (small down) {
				right: $spacing--sm;
			}//end small down breakpoint
		}//end &.sl_next

	}//end &--carousel

//12. Back to Top Button
	&--backtop {
		position: fixed;
		border-radius: $border-radius--circle;
		z-index: 99;
		bottom: $spacing--xs;
		right: $spacing--xs;
		margin-bottom: 0;
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		@include transition (all .3s ease-in-out);

		&.sl_active {
			opacity: 1;
			@include transition (all .3s ease-in-out);
		}
	}//end &--backtop

//13. Video Button
	&--video {
			background: none;
			border-radius: 0;
			z-index: 1;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 0;
			box-shadow: none;
			@include transition(all .3s ease-in-out);

			&:after {
				content: '';
				position: absolute;
				width: 127px;
				height: 127px;
				background-image: url(#{$path-img}icon/play-video-icon.svg);
				background-repeat: no-repeat;
				background-size: 100%;
				background-position: center center;

				@include breakpoint (small down) {
					width: 100px;
					height: 100px;
				}//end small down breakpoint
			}//end &:before

			&:hover, &:focus {
				background-color: rgba(get-color(primary), .2);
				transform: none;
				box-shadow: none;
			}//end &:hover

	}//end &--video

	&--chat {
		background: linear-gradient(270deg, get-color(primary) 0%, get-color(secondary) 87%);
		position: fixed;
		bottom: $spacing--xs;
		right: $spacing--xs;
		font-size: 1.5rem;
		z-index: 9999;
		border: none;
		margin-bottom: 0;

		&:after {
			@include fontawesome( $content:'\f086');
			display: inline-block;
			margin-left: $spacing--xs/2;
		}//end &after

		@include breakpoint (medium down) {
			bottom: rem-calc(50px) + $spacing--sm;
			padding: 0;
			right: $spacing--xs;
			width: 50px;
			height: 50px;
			border-radius: $border-radius--circle;
			display: flex;
			align-items: center;
			justify-content: center;

			span {
				display: none
			}//end span

			&:after {
				margin: 0;
			}//end &:after
		}//end medium down breakpoint
	}//&--chat
}//end .sl_button

// - Button Group
.sl_button-group {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;

	.sl_button {
		margin-bottom: 0;
	}//end .sl_button

	& > :first-child {
		margin-right: $spacing--md;

		@include breakpoint (small down) {
			margin-right: 0;
			margin-bottom: $spacing--sm;
		}//end small down breakpoint
	}//end & > :first-child

	@include breakpoint (small down) {
		flex-direction: column;
	}//end small down breakpoint

}//end .sl_button-group

// - Phone

.sl_phone {
	span {
		display: inline-block;
		margin-left: $spacing--xs;
		border-left: 2px solid get-color(default);
		padding-left: $spacing--xs;
		font-size: 1.25rem;
		font-weight: $font-weight--medium;

		@include breakpoint (small down) {
			display: block;
			border: none;
			text-align: center;
			padding: 0;
			margin: 0;
		}//end small down breakpoint
	}//end span
}//end .sl_phone
