.sl_card {
	padding: $spacing--lg;
	width: 100%;
	
	@include breakpoint (large down) {
		padding: $spacing--md;
	}//end large down breakpoint

	@include breakpoint (small down) {
		padding: $spacing--md $spacing--sm;
	}//end small down breakpoint

	& > :last-child {
		margin-bottom: 0;
	}//end & > :last-child

	&__image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

		.sl_card--deck &, .sl_card--slide & {
			min-height: 200px;

			@include breakpoint (small down) {
				min-height: 175px;
			}//end small down breakpoint
		}//end .sl_card--deck &
	}//end &__image

	&__content {
		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child

		.sl_card--deck &, .sl_card--slide & {
			padding: 2.5rem;

			@include breakpoint (medium only) {
				padding: $spacing--sm;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--sm;
			}//end small down breakpoint
		}//end .sl_deck &
	}//end &__content

//-----------------
//TYPES
//-----------------

	&--deck, &--slide {
		padding: 0;
		height: 100%;
		background-color: get-color(accent2);
	}

	&--duo {
		padding: 0;
	}//end &--duo

	&--staff {
		padding: 0;
		background: get-color(inverse);
		color: get-color(default);
		border-radius: $border-radius;
		overflow: hidden;
		height: 100%;

		.sl_staff__image {
			width: 100%;
			height: auto;
		}//end .sl_staff__image

		.sl_card__content {
			padding: $spacing--sm;

			@include breakpoint (medium only) {
				padding: $spacing--xs;
			}//end medium only breakpoint

			p {
				margin-bottom: $spacing--xs/2;
			}//end p

			h3 {
				margin-bottom: $spacing--xs/2;

				@include breakpoint (large only) {
					font-size: 1.375rem;
				}//end large only breakpoint
			}//end h3

			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child;
		}//end .sl_card__content
	}//end &--staff

	&--location {
		background-color: get-color(inverse);
		height: 100%;
		padding: 0;
		border-radius: $border-radius;
		overflow: hidden;
		box-shadow: $shadow;
		position: relative;

		&:after {
			@include pseudo;
			width: $spacing--md;
			top: 0;
			bottom: 0;
			right: 0;
			background: linear-gradient(96deg, transparent 50%, get-color(secondary) 50%, get-color(primary) 100%);
		}//end &:after

		.sl_card__image {
			min-height: 125px;
			position: relative;
			z-index: 1;
		}//end .sl_card__image

		.sl_card__content {
			padding: $spacing--xs;
			padding-right: $spacing--md;

			h3 {
				font-size: 1.25rem;
				margin-bottom: $spacing--xs/2;
			}//end h3

			ul {
				list-style: none;
				margin: 0;
				margin-bottom: $spacing--xs/2;
				font-style: italic;
				font-size: rem-calc(14px);
				line-height: 1.125rem;

				li {
					display: inline-block;
					font-size: rem-calc(14px);
					line-height: 1.125rem;
					margin-bottom: 0 !important;

					&:not(:last-of-type) {
						&:after {
							content: "\2022";
						    display: inline-block;
						    margin-left: 3px;
						    margin-right: 3px;
						}//end &:after
					}//end &:not(:last-of-type)
				}//end li
			}//end ul
		}//end .sl_card__content
	}//end &--location

	&--map {
		padding: 0;
		min-width: 200px;

		.sl_card__image {
			min-height: 100px;
			position: relative;
			z-index: 1;
		}//end .sl_card__image

		.sl_card__content {
			padding: $spacing--xs 0;
		}

		h5 {
			font-size: 1rem;
			font-weight: $font-weight--regular;
			margin-bottom: 0;
		}//end h5

		h3 {
			font-size: 1.125rem;
			margin-bottom: $spacing--xs/2;
		}//end h3
	}

	&--spotlight {
		padding: 0;
		display: flex;
		flex-direction: row;
		max-width: 1200px;
		margin: 0 auto;
		align-items: center;
		justify-content: center;

		@include breakpoint (small down) {
			flex-direction: column;
			}//end small down breakpoint

		.sl_card__content {
			width: 50%;

			@include breakpoint (small down) {
				width: 100%;
				margin-bottom: $spacing--sm;
			}//end small down breakpoint
		}//end .sl_card__content
	}//end &--spotlight

	&--wysiwyg {
		@include breakpoint (small down) {
			padding: 0;
		}//end small down breakpoint

		@at-root .sl_wysiwyg--contained .sl_card--wysiwyg {
			@include breakpoint (small down) {
				padding: $spacing--sm;
			}//end small down breakpoint
		}//end @at-root .sl_wysiwyg--contianed .sl_card--wysiwyg
	}//end &--wysiwyg

	&--wildcard {
		@include breakpoint (small down) {
			padding: 0;
		}//end small down breakpoint
	}//end &--wildcard

}//end .sl_card

//CARD WRAPPERS
a.sl_card {
	display: block;
}
