.sl_footer {
	background-color: get-color(default);
	padding: $spacing--xxl 0;

	@include breakpoint (small down) {
		padding: $spacing--md 0;
	}//end small down breakpoint

	&__logo {
		margin-bottom: $spacing--sm;
		
		img {
			max-width: 250px;
			width: 100%;
		}//end img
	}//end &__logo

	p {
		color: get-color(inverse);

		a {
			color: get-color(inverse);
			text-decoration: underline;
		}//end a
	}//end p

	.sl_menu {
		justify-content: center;
		align-items: center;
		margin-bottom: $spacing--md;

		& * {
			color: get-color(inverse);
		}//end & *

		& > li {
			font-weight: $font-weight--bold;
			font-size: 1rem;
			position: relative;

			&:not(:last-of-type) {
				padding-right: $spacing--sm;
				margin-right: $spacing--sm;

				&:after {
					content: '|';
					position: absolute;
					right: 0;
					top: 0;
					font-weight: $font-weight--regular;
				}//end &:after
			}//end &:not(:last-of-type)
		}//end & > li

		a {
			padding: 0;
			line-height: 1.5;
		}//end a
	}//end .sl_menu
		

}//end .sl_footer