$site-palette: (
  primary:    #0996F7,
  secondary:  #3434A2,
  default:    #152435,
  default-tint1: #2B3948,
  default-tint2: #E2E4E6,
  default-tint3: #C4C8CC,
  default-tint4: #67707B,
  inverse:    #FFFFFF,
  accent1:    #1D67CF,
  accent2:    #000585,
  accent3:    #F2F3F4
);