//Shadow
$shadow: 0 10px 35px 0 rgba(0,0,0,0.15);
$shadow--button: 0 10px 35px 0 rgba(0,0,0,0.15);
$shadow--inner: inset 0 0 7px 0 rgba(0,0,0,0.20);

//Hover
$shadow--hover: 0 0 10px 0 rgba(0,0,0,0.20);
$shadow--button--hover: 0px 2px 6px rgba(0,0,0,.20);

