<ul class="accordion sl_accordion sl_accordion--wildcard" data-accordion data-multi-expand="true" data-allow-all-closed="true">
{% for item in accordion_items %}
  <li class="accordion-item sl_accordion__item" data-accordion-item>

    {# FAQ QUESTION #}
    <a href="#" class="accordion-title sl_accordion__title">{{item.title}}</a>

    {# FAQ ANSWER #}
    <div class="accordion-content sl_accordion__content" data-tab-content>
      {{item.content|wpautop}}
    </div>
  </li>
{% endfor %}
</ul>