<div class="sl_module__map">
    <div class="marker" data-lat="{{map.google_map.lat}}" data-lng="{{map.google_map.lng}}">
        <div class="sl_card sl_card--map">
            <div class="sl_row">
                <div class="sl_cell sl_card__content">
                </div>
            </div>
        </div>
    </div>
</div>
