<div id="sl_footer" class="sl_footer">

		<div class="sl_inner">

			{# FOOTER Logos #}
			{% include "partials/footer/footer-logos.twig" %}

			{# COPYRIGHT #}
  			<p>&copy; {{ now|date('Y') }} {{ bloginfo('name') }}. All Rights Reserved.{% if option.phone.main %}  |  Confidential and Private Call: <a class="InfinityNumber" href="{{option.phone.main}}">{{option.phone.main}}</a>{% endif %}</p>

			{# FOOTER WYSIWYG #}
			{% if option.footer_wysiwyg %}
				{{option.footer_wysiwyg}}
			{% endif %}

			{# FOOTER LINKS #}
			{% if footer_menu.theme_location == 'footer-menu' %}
				{% include "footer/footer-menu.twig" with {'menu': footer_menu.get_items } %}
			{% endif %}
			
		</div>{# /.sl_inner #}

</div>{# /.sl_footer #}