{% extends "module.twig" %}

{% block card %}

	<script>
    var myFacilityData = [];
	</script>



	{% for item in this.locations %}

		{% set entryInfo = {    
		"facilityName": item.facility,
	    "facilityImage": Image(item.image).src,
	    "facilityLat": item.google_map.lat,
	    "facilityLng": item.google_map.lng,
	    "facilityCity": item.city,
	    "facilityState": item.state,
	    "facilityUrl": item.button.url
	    }
	%}

	<script>
	    var singleFacility = {{ entryInfo|json_encode() }};

	    myFacilityData.push(singleFacility);	    
	</script>

	{% endfor %}

	<div class="sl_location__header">

        {% if module.header %}
			<h2>{{module.header}}</h2>
		{% endif %}
        
        <div class="sl_location__toggle--map">
            <div class="sl_toggle sl_toggle--card sl_active">Card View</div>
            <div class="sl_toggle sl_toggle--map">Map View</div>
        </div>
	 
	</div>{# /.sl_facility__header #}
	
	
	{# Grid #}
	<div class="sl_row sl_location__deck {% if module.grid_type == "block" %}{% include "grid-classes.twig" %}{% endif %}">

		{# Else, Loop through cards from the deck #}
		{% for card in this.locations %}
			<div class="sl_cell {% if module.grid_type == "cell" %}{% include "grid-classes.twig" %}{% endif %}">

					<div class="sl_card sl_card--location">

						{# CARD IMAGE #}
						<div class="sl_card__image" style="background-image: url({{Image(card.image).src}})"></div>
						
						{# CARD CONTENT #}
						<div class="sl_card__content">
							
							{# CITY, STATE #}
							<p class="sl_location__location">{{ card.city }}, {{ card.state }}</p>			
							
							{# HEADER #}
							<h3>{{ card.facility }}</h3>
							
							{# WYSIWYG #}
							{{ card.description }}
							
							{# BUTTON #}
							<a href="{{card.button.url}}" target="{{card.button.target}}" class="sl_button sl_button--simple">{{card.button.title}}</a>
						</div>{# /.sl_card__content #}

					</div>{# /.sl_card #}

			</div>{# /.sl_cell #}
		{% endfor %}

	</div>{# /.sl_row #}

	{# FACILITY MAP #}
	<div class="sl_location__map mapShow" style="display: none;" onload="initialize()">
	    <div id="map" style="width: 100%; height: 480px;"></div>
	</div>

	{% if module.callout %}
	<div class="sl_location__callout">
		{{module.callout|wpautop}}
	</div>
	{% endif %}

{% endblock %}
