

    {# Matches modal to button based on the type of modal module they've selected #}
    {% if module.type_select == "Content" %}
        <div class="reveal sl_reveal sl_reveal--content" id="{{module.modal_id}}" data-reveal>
            <div class="sl_card sl_card--reveal">
                {{this.content}}
            </div>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span class="fa fa-times"></span>
            </button>
        </div>
    {% endif %}

    {% if module.type_select == "Video" %}
        <div class="reveal sl_reveal sl_reveal--video" id="{{module.modal_id}}" data-reveal data-reset-on-close="true">
            <div class="responsive-embed widescreen">
                {{ function('do_shortcode', this.video)}}
            </div>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span class="fa fa-times"></span>
            </button>
        </div>
    {% endif %}

    {% if module.type_select == "Gallery" %}
        <div class="reveal sl_reveal sl_reveal--gallery" id="{{module.modal_id}}" data-reveal>
            <div  class="sl_slider">
                {% for item in this.Gallery %}
                    <div class="sl_card">
                        {% if item.gallery_image == true %}
                            {% include "card-image.twig" with { image : item.gallery_image } %}
                        {% endif %}
                        {% if item.card.header != "" %}
                        <div class="sl_card__content">
            		        {% if item.card.header %}
                                {% include "card-header.twig" with { header : item.card.header } %}
    				        {% endif %}	
                            {% if item.card.paragraph %}
    					        {% include "card-paragraph.twig" with { paragraph : item.card.paragraph } %}
    				        {% endif %}	
    				        {% if item.card.buttons %}
    					        {% include "card-button.twig" with { card : item.card } %}
    				        {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    </div>
                {% endfor %}
        </div>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span class="fa fa-times"></span>
            </button>
        </div>
    {% endif %}