{% extends "module.twig" %}

{% block card %}

<div class="sl_row">
  {% for card in this.deck %}

    {# Runs conditional logic to cards from the wildcard. #}
    <div class="sl_cell {% if card.class %}sl_wildcard__{{ card.class }}{% endif %} {% include "grid-classes.twig" with { "cell_type" : "wildcard" } %}">
      <div class="sl_card sl_card--wildcard {% if card.class %}sl_card--{{ card.class }}{% endif %}">
        
        {# Runs conditional logic to add pieces for each card. #}
        {% for item in card.pieces %}

          {# IMAGE #}
          {% if item.acf_fc_layout == "image" %}
            <div class="sl_card__image" style="background-image: url({{Image(item.image).src}})"></div>
          {% endif %}

          {# WRAPPER OPEN #}  
          {% if item.acf_fc_layout == "wrapper open" %}
          <div class="{{item.class}}">
          {% endif %}

          {# PRE HEADER #}  
          {% if item.acf_fc_layout == "preheader" %}
            <h5>{{ item.preheader }}</h5>
          {% endif %}

          {# HEADER  #}
          {% if item.acf_fc_layout == "header" %} 
            <h3>{{ item.header }}</h3>
          {% endif %}
          
          {# PARAGRAPH #}
          {% if item.acf_fc_layout == "wysiwyg" %}
            {% include "card-wysiwyg.twig" with { wysiwyg : item.paragraph } %}
          {% endif %}

          {# BUTTONS #}
          {% if item.acf_fc_layout == "button" %}
            {% include "card-button.twig" with { card : item } %}
          {% endif %}

          {# WRAPPER CLOSE #}  
          {% if item.acf_fc_layout == "wrapper_close" %}
          </div>
          {% endif %}


        {% endfor %}
      </div>{# /.sl_card.sl_card--wildcard #}
    </div>{# /.sl_cell #}

  {% endfor %}

</div>{# /.sl_row #}
    
{% endblock %}