{% extends "module.twig" %}

{% block card %}
	<div class="sl_card">
		{# Header #}
		<h1>{{ module.billboard.header }}</h1>

		{# Button #}
		{% if module.billboard.buttons %}
	    	{% include "card-button.twig" with { card : module.billboard } %}
		{% endif %}	
	</div>

{% endblock %}