{% extends "module.twig" %}

{% block card %}

	{% if module.text %} 
		<h3>
			{{ module.text }}
			{% if module.button %}
				<a href="{{module.button.url}}" class="sl_button sl_button--alert">{{module.button.title}}</a>
			{% endif %}
		</h3>
	{% endif %}
	
{% endblock %}