.sl_duo {
	.sl_inner {
		& > .sl_row {
			& > .sl_cell {
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end .sl_inner

	&__media {
		@include breakpoint (small down) {
		position: relative;
		min-height: 300px;
		}//end small down breakpoint

		&__container {
			position: relative;
			width: 100%;
			height: 100%;
		}//end &__container

		&--video {
			.sl_duo__image {
				display: flex;
				align-items: center;
				padding: 0 $spacing--sm;
				justify-content: center;

			}//end .sl_duo__image
		}//end &--video
	}//end &__media

	&__image {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}//end &__image

	&__content {
		display: flex;
		align-items: center;

		@include breakpoint (small down) {
			flex: 0 0 auto;
			width: 100%;
		}//end small down breakpoint

		.sl_button-group {
			width: 100%;

			.sl_button {
				width: 100%;
				-ms-flex-negative: 1;
			}//end .sl_button
		}//end .sl_button-group
	}//end &__content

	//DUO TYPES

	&--right {
		.sl_duo__media {
			order: 2;
		}//end .sl_duo__media

		.sl_duo__content {
			order: 1;
		}//end .sl_duo__content

		@include breakpoint (small down) {
			.sl_duo__media {
				order: 1;
			}//end .sl_duo__media

			.sl_duo__content {
				order: 2;
			}//end .sl_duo__content
		}//end small down breakpoint
	}//end &--right

	&--hero {
		background: $gradient--primary;
		overflow: hidden;
		margin-top: -146px; //header height
		padding-top: 146px !important; //header height
		padding-bottom: $spacing--xxl;
		position: relative;

		&:after{
			content: '';
			border-bottom: 80px solid get-color(inverse);
			border-left: 50vw solid transparent;
			border-right: 50vw solid get-color(primary);
			border-top: 80px solid transparent;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;

			@include breakpoint (small only) {
				border-bottom-width: 2rem;
				border-top-width: 2rem;
			}//end small only breakpoint
		}//end after

		.sl_duo__content {
			padding-right: $spacing--xxxl;

			@include breakpoint (large only) {
				padding-right: $spacing--sm;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				padding-right: $spacing--xs;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding-right: 0;
			}//end small down breakpoint

			& * {
				color: get-color(inverse);
			}//end & *

			.sl_card {
				& > .sl_button {
					margin-top: $spacing--xs;
				}

				& > .sl_button-group {
					margin-top: $spacing--md;
				}
			}
		}//end .sl_duo__content

		.sl_duo__media {
			min-height: 400px;
			border-radius: $border-radius;
			overflow: hidden;
			box-shadow: $shadow;

			@include breakpoint (small down) {
				min-height: 200px;
				margin-bottom: $spacing--xs;
			}//end small down breakpoint
		}//end .sl_duo__media

		p {
			font-size: 1.5rem;

			@include breakpoint (small down) {
				font-size: 1.25rem;
			}//end small down breakpoint
		}//end p

	}//end &--hero
}//.sl_duo