.sl_location {
	background-color: get-color(default);

	& > .sl_inner {
		@include innerpadding($p-xsmall: $spacing--xs, $p-small: $spacing--sm, $p-medium: $spacing--xs, $p-large: $spacing--lg - $spacing--xs/2, $p-xlarge: $spacing--xl - $spacing--xs/2,$p-xxlarge: $spacing--xxl - $spacing--xs/2);

		& > .sl_row {
			& > .sl_cell {
				padding: 0 $spacing--xs/2;
				margin-bottom: $spacing--xs;

				@include breakpoint (small down) {
					padding: 0;
				}//end small down breakpoint
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end & > .sl_inner

	&__header {
		margin-bottom: $spacing--sm;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		@include breakpoint (small down) {
			flex-direction: column;
		}//end small down breakpoint

		h2 {
			color: get-color(inverse);
			margin-bottom: 0;

			@include breakpoint (small down) {
				text-align: center;
				margin-bottom: $spacing--xs
			}//end small down breakpoint
		}//end h2

		.sl_ie-error {
			background-color: get-color(warning);
			padding: $spacing--xs;
			margin-top: $spacing--xs;
			text-align: center;
			border: 1px solid darken(get-color(warning),10%);
			 p {
			 	color: get-color(inverse);
			 	margin-bottom: 0;

			 	a {
			 		color: get-color(inverse);
			 		text-decoration: underline;
			 	}//end a
			 }//end p
		}//end .sl_ie-error
	}//end &__header


	&__toggle {
		&--map {
			display: flex;
			flex-direction: row;
			border-radius: $border-radius--pill;
			overflow: hidden;
			border: 1px solid get-color(primary);
			flex: 0 0 auto;

			.sl_toggle {
				font-size: 1rem;
				color: get-color(inverse);
				line-height: 1;
				text-transform: uppercase;
				padding: $spacing--xs/2 $spacing--xs $spacing--xs/2 $spacing--sm + rem-calc(14px);
				background-size: 14px 14px;
				background-position: $spacing--xs center;
				background-repeat: no-repeat;
				cursor: pointer;
				@include transition (all .3s ease-in-out);

				&:hover, &:focus {
					background-color: darken(get-color(inverse), 10%);

					&:not(.sl_active) {
						background-position: 14px center;
					}//end &:not(.sl_active)
				}//end &:hover, &:focus

				&--card {
					background-image: url(#{$path-img}icon/cardview-icon.svg);
				}//end &--card

				&--map {
					background-image: url(#{$path-img}icon/mapview-icon.svg);
				}//end &--map

				&.sl_active {
					cursor: default;
					background-color: get-color(inverse);
					color: get-color(default);
					@include transition (all .3s ease-in-out);
				}//end &.sl_active
			}//end .sl_toggle
		}//end &--map

	}//end &__toggle

	&__callout {
		p {
			color: get-color(inverse);
			font-size: 1.25rem;
		}//end & > p

		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child
	}//end &__callout



	&__location {
		font-weight: 1rem;
		margin-bottom: 0;
	}//end &__location

	&__map {
		margin-bottom: $spacing--md;
	}//end &__map
	

}//end .sl_location