.sl_spotlight {
	background-color: get-color(secondary);
	padding: $spacing--xxl 0 ;

	@include breakpoint (small down) {
		padding: $spacing--md 0;
	}//end small down breakpoint
	
	.sl_inner {
	}//end .sl_inner

	& * {
		color: get-color(inverse);
	}//end & *

	h2 {
		font-size: 2rem;
		font-weight: $font-weight--regular;

		@include breakpoint (small down) {
			text-align: center;
			font-size: 1.5rem;
		}//end small down breakpoint
	}//end h2
}//end .sl_spotlight