.sl_wildcard {

	& > .sl_inner {
		& > .sl_row {
			margin-left: -$spacing--md;
			margin-right: -$spacing--md;

			@include breakpoint (large only) {
				margin-left: -$spacing--sm;
				margin-right: -$spacing--sm;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				margin-left: -$spacing--xs;
				margin-right: -$spacing--xs;
			}//end medium only breakpoint

			& > .sl_cell {
				padding: 0 $spacing--md;

				@include breakpoint (large only) {
					padding: 0 $spacing--sm;
				}//end large only breakpoint

				@include breakpoint (medium only) {
					padding: 0 $spacing--xs;
				}//end medium only breakpoint

				@include breakpoint (small down) {
					padding: 0;
				}//end small down breakpoint
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end & > .sl_inner

	&--aligncenter {
		& > .sl_inner {
			& > .sl_row {
				& > .sl_cell {
					display: flex;
					align-items: center;
				}//end & > .sl_cell
			}//end & > .sl_row
		}//end & > .sl_inner
	}//end &--aligncenter

	&--contained {
		& > .sl_inner {
			& > .sl_row {
				box-shadow: $shadow;
				background-color: get-color(inverse);
				border-radius: $border-radius;
				margin: 0;
				padding: $spacing--xl $spacing--xs;

				@include breakpoint (small down) {
					padding: 0;
				}//end small down breakpoint
			}//end & > .sl_row
		}//end & > .sl_inner
	}//end &--contained

	.sl_card {
		padding: 0;

		@include breakpoint (small down) {
			padding: $spacing--sm;
		}//end small down breakpoint

		&--insurance {

			li {
				font-size: 1.25rem;
			}//end li
		}//end &--insurance
	}//wns .sl_card

	
}//end .sl_wildcard