.sl_wysiwyg {
	&--narrow {
		max-width: 1200px;
		margin: 0 auto;

		p {
			font-size: 1.25rem;
		}//end p
	}//end &--narrow;

	&--contained {
		.sl_card {
			background-color: get-color(inverse);
			box-shadow: $shadow;
			border-radius: $border-radius;
		}//end .sl_card
	}//end &--contained

}//end .sl_wysiwyg